BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "sys_clk" SITE "C1" ;
LOCATE COMP "sys_rst_n" SITE "M10" ;
LOCATE COMP "oled_clk" SITE "E12" ;
LOCATE COMP "oled_csn" SITE "F14" ;
LOCATE COMP "oled_dat" SITE "F12" ;
LOCATE COMP "oled_dcn" SITE "F13" ;
LOCATE COMP "oled_rst" SITE "G12" ;
LOCATE COMP "one_wire" SITE "N7" ;
LOCATE COMP "uart_txd" SITE "B8" ;
LOCATE COMP "hour_a" SITE "N14" ;
LOCATE COMP "hour_d" SITE "M14" ;
LOCATE COMP "min_a" SITE "M13" ;
LOCATE COMP "min_d" SITE "L14" ;
LOCATE COMP "led" SITE "P9" ;
LOCATE COMP "piano_out" SITE "P8" ;
LOCATE COMP "uart_rxd" SITE "C8" ;
LOCATE COMP "tone_en" SITE "M9" ;
IOBUF PORT "one_wire" PULLMODE=DOWN IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
